@model IEnumerable<KoloTumak.Intranet.Models.CMS.EventsAllUser>

@{
    ViewData["Title"] = "Index";
}
<div class="home">
<h1 class="text">Wydarzenia</h1>

<p class="text">
    <a asp-action="Create">Dodaj nowe wydarzenie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameSurnameResponsiblePerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameSurnameResponsiblePerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEvents">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEvents">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEvents">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
