@model IEnumerable<KoloTumak.Data.Data.CMS.Management>

@{
    ViewData["Title"] = "Index";
}
<div class="home">
<header class="header__intranet flex-container">
<div class="flex-items">
<h1 class="text__intranet__header">Zarząd koła</h1>
</div>
<div class="flex-items">
<p class="button__header">
    <a class="btn__header" asp-action="Create">Dodaj członka zarządu</a>
</p>
</div>
</header>
<table class="table">
    <thead class="table__header">
        <tr class="table__row">
            <th class="table__cell u-text-center">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="table__cell u-text-center">
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th class="table__cell u-text-center">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="table__cell u-text-center">
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="table__account table__cell u-text-center">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="table__account table__cell u-text-center">
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td class="table__account table__cell u-text-center">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="table__account table__cell u-text-center">
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td class="table__transfer table__cell u-text-center">
                <a class="btn" asp-action="Edit" asp-route-id="@item.IdManagement">Edytuj</a>
                <br></br>
                <a class="btn" asp-action="Delete" asp-route-id="@item.IdManagement">Skasuj</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
